#navbar{
    display: grid;
    grid-template-columns: repeat(5,7%);
    height:50px;
    justify-content: right;
    border:1px solid red;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(168, 246, 220);    
}
a{
    text-decoration: none;
    font-size: 20px;
    color:black
}

#items{
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap:15px;
    justify-content: center;
    text-align: center;
    

    
}
#items>div{
    border:1px solid blue;
}
div>img{
    width:70%;
    height:250px
    
}